#sort {
    /*desaparecer após submeter form
    display: none;*/
   
    margin-top: 2.6rem;

    h2 {
        font: var(--label-md);
        color: var(--content-primary);
        text-transform: uppercase;
    }

    p {
        font: var(--paragraph-md);
        color: var(--content-secondary);
    }
    
    .transparency {
        opacity: .3;
    }

    #fill {
        margin-top: 2.5rem;
        color: var(--content-secondary);
        text-transform: uppercase;
        font: var(--label-sm);
        display: flex;
        gap: .75rem;

        .field {
            display: grid;
            gap: .5rem;
            justify-items: center;
        }
    }

    input[type="number"] {
        width: 5.4rem;
        height: 4rem;
        border: none;
        border-radius: .5rem;
        background-color: var(--bg-secondary);
        font: var(--display-sm);
        color: var(--content-primary);
        text-align: center;
        position: relative;
    }

    input[type="number"]::-webkit-inner-spin-button,  input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

    .field:hover, .field:focus  {
        color: var(--content-brand);
    }

    input[type="number"]:hover {
        cursor: pointer;
        background-color: var(--bg-tertiary);
        border-color: white;
        border-style: solid;
        border-width: 1px;
    }

    input[type="number"]:focus {
        border-color: white;
        border-style: solid;
        border-width: 2px;
        outline: none;
    }
    
    #repeat {
        margin-top: 1.25rem;
        display: flex;
        gap: .5rem;
        align-items: center;

        p {
            padding-left: 38px;
        }
    }

    input[type="checkbox"] {
        appearance: none;
        width: 30px;
        height: 20px;
        background-color: var(--content-tertiary);
        border-radius: 50px;
        position: absolute;
        cursor: pointer;
        transition: .3s;
    }

    input[type="checkbox"]::before {
        content: "";
        position: absolute;
        width: 14px;
        height: 14px;
        background-color: var(--content-primary);
        border-radius: 50%;
        left: 3px;
        top: 3px;
        transition: .3s;
    }

    input[type="checkbox"]:checked {
        background: linear-gradient(91.26deg, #D586E0 0%, #91A1FA 98.93%);
    }

    input[type="checkbox"]:checked::before {
        left: 14px;
    }

    button {
        margin-top: 2.5rem;
        width: 100%;
        border-radius: .5rem;
        height: 3.5rem;
        font: var(--label-sm);
        color: var(--content-primary);
        text-transform: uppercase;
        background-color: var(--bg-tertiary);
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        cursor: pointer;
        margin-bottom: 5rem;
        position: relative;
    }

    button:hover {
        background-color: var(--bg-secondary);
        transition: .6s;

        .svg-container {
            animation: moveRight .8s linear alternate infinite;
            transform: translateY(2px);
        }
    }

    button:hover::before, button:hover::after {
        content: "";
        position: absolute;
        width: calc(100% + 5px);
        height: calc(100% + 5px);
        background: linear-gradient(45deg, #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%);
        z-index: -1;
        border-radius: .5rem;
        background-size: 180%;
        animation: borderAnimation 6s linear infinite;
    }

    .svg-container {
        display: inline-block;
        transform: translateY(2px);
    }
}

@media (width >= 80em) {
    #sort {
        max-width: 30rem;
        margin-top: 0rem;

        p {
            font: var(--paragraph-lg);
        }

        button {
            margin-bottom: 0rem;
        }
    }
}

@keyframes borderAnimation {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 300%;
    }
}

@keyframes moveRight {
    0% {
        transform: translate(0, 2px);
        
    }
    100% {
        transform: translate(10px, 2px);
        
    }
}