#sort {
    margin-top: 2.6rem;

    h2 {
        font: var(--label-md);
        color: var(--content-primary);
        text-transform: uppercase;
    }

    p {
        font: var(--paragraph-md);
        color: var(--content-secondary);
    }

    .transparency {
        opacity: .3;
    }

    #fill {
        margin-top: 2.5rem;
        color: var(--content-secondary);
        text-transform: uppercase;
        font: var(--label-sm);
        display: flex;
        gap: .75rem;

        .field {
            display: grid;
            gap: .5rem;
            justify-items: center;
        }
    }

    input[type="number"] {
        width: 5.4rem;
        height: 4rem;
        border: none;
        border-radius: .5rem;
        background-color: var(--bg-secondary);
    }

    #repeat {
        margin-top: 1.25rem;
        display: flex;
        gap: .5rem;
        align-items: center;

        p {
            padding-left: 38px;
        }
    }

    input[type="checkbox"] {
        appearance: none;
        width: 30px;
        height: 20px;
        background-color: var(--content-tertiary);
        border-radius: 50px;
        position: absolute;
        cursor: pointer;
        transition: .3s;
    }

    input[type="checkbox"]::before {
        content: "";
        position: absolute;
        width: 14px;
        height: 14px;
        background-color: var(--content-primary);
        border-radius: 50%;
        left: 3px;
        top: 3px;
        transition: .3s;
    }

    input[type="checkbox"]:checked {
        background: linear-gradient(91.26deg, #D586E0 0%, #91A1FA 98.93%);
    }

    input[type="checkbox"]:checked::before {
        left: 14px;
    }

    button {
        margin-top: 2.5rem;
        width: 100%;
        border-radius: .5rem;
        height: 3.5rem;
        font: var(--label-sm);
        color: var(--content-primary);
        text-transform: uppercase;
        background-color: var(--bg-tertiary);
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        cursor: pointer;
        margin-bottom: 5rem;
    }
}

@media (width >= 80em) {
    #sort {
        max-width: 30rem;
        margin-top: 0rem;

        p {
            font: var(--paragraph-lg);
        }

        button {
            margin-bottom: 5rem;
        }
    }
}